{% extends 'app/base.html' %}
{% import 'macros/macro.html' as macro %}

{% block title %}Dashboard - {{ server.name }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">

                {{ macro.render_dashboard_nav('create', server) }}

                <h4>Random Command</h4>
                <form class="random-form">
                    <div class="form-group">
                        <label>Command Name</label>
                        <input type="text" class="form-control namefield" id="exampleFormControlInput1" maxlength="20" name="commandname" required>
                    </div>

                    <div class="form-group options">
                        <label>Content</label>
                        <input type="text" aria-describedby="contentHelp" class="form-control mt-1" name="content" required>
                        <input type="text" aria-describedby="contentHelp" class="form-control mt-1" name="content" required>

                        <div class="input-group mt-1 pp sexy">
                            <input type="text" aria-describedby="contentHelp" class="form-control " name="content" required>
                            <div class="input-group-append">
                                <span class="input-group-text dismiss"><i class="fa fa-close dismiss"></i></span>
                            </div>

                        </div>
                        <div class="sexy"></div>
                        <span class="badge badge-info mt-1 addmore" type="button">Add more</span>
                    </div>
                    <input type="submit" name="submit" value="Create Command" class="btn btn-success">
                </form>
            </div> <!-- Col -->

            <div class="col-sm-12 col-md-4 col-lg-4 mt-sm-4">
                {{ macro.render_vars(variables) }}
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        const form = document.querySelector('.random-form')
        const options = document.querySelector('.options')

        options.addEventListener('click', e => {
            if(e.target.classList.contains('addmore')){
                const sexy = document.querySelectorAll('.sexy')
                const lastsexy = sexy[sexy.length -1]
                const html =  `<div class="input-group mt-1 pp sexy">
                                          <input type="text" aria-describedby="contentHelp" class="form-control " name="content" required>
                                          <div class="input-group-append">
                                              <span class="input-group-text dismiss"><i class="fa fa-close dismiss"></i></span>
                                          </div>
                                      </div>`

                lastsexy.insertAdjacentHTML("afterend", html)
            }

            if(e.target.classList.contains('dismiss')){
                let target = e.target.parentElement.parentElement
                if(target.classList.contains('pp')){
                    target.remove()
                }else{
                    target.parentElement.remove()
                }
            }
        })

        form.addEventListener('submit', event => {
            event.preventDefault()
            const name = form.commandname.value.trim()
            const values = Array.from(form.content)
            const content_u = values.map(input => {
                if(input.value.trim() !== ''){
                    return input.value.trim()
                }else{
                    return null
                }
            })

            const content = content_u.filter(item => {
                if(item){
                    return item
                }
            })

            if(content.length < 2){
                return alertify.error('Please fill all data');
            }

            if(name === '' || content === ''){
                alertify.error('Please fill all data');
            }else{
                const url = '{{ url_for('command.create_random', server_id=server.id) }}'

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        name,
                        content
                    })
                })
                .then(res => res.json())
                .then(data => {
                    if(data['error'] !== null){
                        alertify.error(data['error']['message']);
                    }else{
                        alertify.success(data['data']['message'])
                        form.reset()
                    }
                })
            }
        })
    </script>
{% endblock %}