{% extends 'app/base.html' %}
{% import 'macros/macro.html' as macro %}

{% block title %}Dashboard - {{ server.name }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">

                {{ macro.render_dashboard_nav('create', server) }}

                <h4>Embed Command</h4>
                <form class="embed-form">
                    <div class="form-group">
                        <label>Command Name</label>
                        <input type="text" class="form-control" value="{{ command_name }}" maxlength="20" name="commandname" required>
                    </div>

                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" maxlength="200" name="title" value="{{ cmd_info[2] }}" required>
                    </div>

                    <div class="form-group">
                        <label>Content</label>
                        <textarea class="form-control" name="content" rows="3" maxlength="1900" required>{{ cmd_info[3] }}</textarea>
                    </div>

                    <div class="form-group">
                        <label>Thumbnail Url</label>
                        <input type="text" class="form-control" value="{{ cmd_info[4] or '' }}" name="thumbnail" placeholder="">
                    </div>

                    <div class="form-group">
                        <label>Image Url</label>
                        <input type="text" class="form-control" value="{{ cmd_info[5] or '' }}" name="image" placeholder="">
                    </div>

                    <input type="submit" name="submit" value="Update Command" class="btn btn-warning">
                </form>
                <br><br>
            </div> <!-- Col -->

            <div class="col-sm-12 col-md-4 col-lg-4 mt-sm-4">
                {{ macro.render_vars(variables) }}
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        const form = document.querySelector('.embed-form')

        form.addEventListener('submit', event => {
            event.preventDefault()
            const name = form.commandname.value.trim()
            const title = form.title.value.trim()
            const content = form.content.value.trim()
            const thumbnail = form.thumbnail.value.trim()
            const image = form.image.value.trim()
            const id = {{ cmd_info[1] }}

            if(name === '' || content === '' || title === ''){
                alertify.error('Please fill all data');
            }else{
                const url = '{{ url_for('command.edit_embed', server_id=server.id) }}'

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        id,
                        name,
                        title,
                        content,
                        thumbnail,
                        image
                    })
                })
                .then(res => res.json())
                .then(data => {
                    if(data['error'] !== null){
                        alertify.error(data['error']['message']);
                    }else{
                        alertify.success(data['data']['message'])
                    }
                })
            }
        })

    </script>
{% endblock %}